@include section-carousel("section1", "carousel1", "carousel1-item", "captions1", "caption1", "captions1-mb");
@include section-carousel("section3", "carousel2", "carousel2-item", "captions2", "caption2", "captions2-mb");
@include section-carousel("section4", "carousel3", "carousel3-item", "captions3", "caption3", "captions3-mb");
@include section-carousel("section5", "carousel4", "carousel4-item", "captions4", "caption4", "captions4-mb");
@include section-carousel("section7", "carousel5", "carousel5-item", "captions5", "caption5", "captions5-mb");
@include section-carousel("section10", "carousel6", "carousel6-item", "captions6", "caption6", "captions6-mb");
@include section-carousel("section11", "carousel7", "carousel7-item", "captions7", "caption7", "captions7-mb");
@include section-carousel("section12", "carousel8", "carousel8-item", "captions8", "caption8", "captions8-mb");
@include section-carousel("section13", "carousel9", "carousel9-item", "captions9", "caption9", "captions9-mb");
@include section-carousel("section15", "carousel10", "carousel10-item", "captions10", "caption10", "captions10-mb");
@include section-carousel("section16", "carousel11", "carousel11-item", "captions11", "caption11", "captions11-mb");

.section4 {
  height: 64vw !important;

  @include mq(tablet-portrait-down) {
    background-color: rgb(0, 0, 0);
  }
  video {
    height: 89%;
  }
  @include mq(tablet-portrait-up) {
    height: auto !important;
    padding: 0 40px;
  }
  @include mq(phone-only) {
    padding: 0 15px;
  }
}
.section5 {
  height: 56.25vw !important;

  video {
    height: 100%;
  }
  @include mq(tablet-portrait-up) {
    height: auto !important;
    padding: 0 40px;
  }
  @include mq(phone-only) {
    padding: 0 15px;
  }
}

.captions3,
.captions4 {
  align-items: flex-end;
}
.carousel3-bottomtext,
.carousel4-bottomtext {
  position: absolute;
  right: 6%;
  bottom: 30px;
  z-index: 105;
  font-size: 14px;
  color: #fff;
}
.carousel3-inner {
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.98) 50%, rgba(0, 0, 0, 0) 100%);

  /* Eğer bazı tarayıcılarda desteklemiyorsa, -webkit- ile */
  -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.98) 50%, rgba(0, 0, 0, 0) 100%);
}
.captions3-mb,
.captions4-mb {
  background-color: #fff;
  &__item {
    margin-top: 60px;
  }
  &__title {
    font-size: 22px;
    color: rgb(0, 0, 0);
    text-align: left;
    font-family: TT;
    font-weight: 400;
    margin-bottom: 70px;
  }
  img,
  video {
    height: 50vw;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
}
.section10 {
  @include mq(tablet-portrait-up) {
    height: 140vw;
    .carousel6-inner {
      height: 80vw !important;
    }
    .captions6-mb {
      height: fit-content;
    }
    .captions6-mb__top {
      min-height: 250px !important;
    }
  }
  @include mq(phone-sm) {
    height: 230vw !important;
    
    .captions6-mb__top {
      min-height: 320px !important;
    }
  }
}
.section11 {
  height: 56vw;
  @include mq(tablet-portrait-up) {
    height: 145vw;
  }
}
.section13 {
  .carousel9 {
    &-item {
      video {
        height: 100%;
      }
    }
  }
}
.section16 {
  .caption11-top {
    height: 6.2vw;
  }
}