@include section-carousel("section1", "carousel1", "carousel1-item", "captions1", "caption1", "captions1-mb");
@include section-carousel("section3", "carousel2", "carousel2-item", "captions2", "caption2", "captions2-mb");
@include section-carousel("section4", "carousel3", "carousel3-item", "captions3", "caption3", "captions3-mb");

.section4 {
    height: 64vw !important;

    video {
        height: 89%;
    }
    @include mq(tablet-portrait-up) {
        height: 145vw;
    }
}
.captions3 {
    align-items: flex-end;
}
.carousel3-bottomtext {
    position: absolute;
    right: 6%;
    bottom: 30px;
    z-index: 105;
    font-size: 14px;
    color: #fff;
}
