.footer {
    width: 100%;
    min-height: 344px;
    height: fit-content;
    background-color: #000;
    .container {
        width: 100%;
        height: 100%;
        padding: 0 5%;
        background-color: #000;
    }
    &-top {
        width: 100%;
        padding: 30px 0;
        background-color: #000;
        &__logo {
            width: 111px;
            img {
                width: 100%;
            }
        }
    }
    &-mid {
        width: 100%;
        min-height: 170px;
        &__menu {
            display: flex;
            align-items: center;
            column-gap: 50px;
            padding: 25px 0;
            &-item {
                height: 60px;
                display: flex;
                align-items: center;
                padding: 0 1vw;
                a {
                    font-size: 14px;
                    color: #fff;
                    text-decoration: none;
                    font-family: inherit;
                    font-weight: 500;
                }
            }
            @include mq(tablet-portrait-up) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &__lang {
            position: relative;
            list-style: none;
            text-align: center;
            padding: 0 1vw;
            height: 60px;
            display: flex;
            align-items: center;
            p {
                font-size: 14px;
                color: #fff;
                text-decoration: none;
                font-family: inherit;
                font-weight: 500;
                cursor: pointer;
                img {
                    width: 14px;
                    height: 14px;
                    position: relative;
                    top: 2px;
                    margin-right: 5px;
                }
            }
            &-item {
                display: none;
                position: absolute;
                top: 45px;
                left: 50%;
                transform: translateX(-50%);
                flex-direction: column;
                border-radius: 4px;
                padding: 10px 0;
                background-color: #fff;
                li {
                    list-style: none;
                    line-height: 34px;
                    color: #000;
                    padding: 0 20px;
                    font-size: 14px;
                    cursor: pointer;
                    &:hover {
                        background-color: #ecf5ff;
                        color: #66b1ff;

                        @include mq(tablet-portrait-up) {
                            background-color: unset;
                            color: #000;
                        }
                    }
                }
            }
            .activeLang {
                display: flex;
            }
            @include mq(tablet-portrait-up) {
                line-height: 64px;
                &-items {
                    display: flex;
                    position: relative;
                    top: unset;
                    left: unset;
                    transform: unset;
                    width: 100%;
                    li {
                        font-size: 20px;
                        color: #000;
                        text-decoration: none;
                        font-family: inherit;
                        font-weight: 400;
                        line-height: 64px;
                    }
                }
            }
        }
    }
    &-divider {
        width: 100%;
        height: 1px;
        background-color: #50555b;
    }
    &-bottom {
        width: 100%;
        &__container {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 30px 0;
            @include mq(tablet-portrait-up) {
                flex-direction: column;
                align-items: flex-start;
            }
        }
        &__menu {
            display: flex;
            align-items: center;
            column-gap: 25px;
            @include mq(tablet-portrait-up) {
                flex-direction: column;
                align-items: flex-start;
            }
            &-item {
                list-style: none;
                color: #fff;
                display: flex;
                align-items: center;

                @include mq(tablet-portrait-up) {
                    &:nth-child(1) {
                        padding: 20px 0;
                    }
                    &:nth-child(2) {
                        padding-bottom: 20px;
                    }
                }
                a {
                    font-size: 14px;
                    color: #fff;
                    font-weight: 500;
                    @include mq(tablet-portrait-up) {
                        font-size: 12px;
                    }
                }
            }
        }
        &__copyright {
            color: #fff;
            font-size: 14px;
            line-height: 30px;
            @include mq(tablet-portrait-up) {
                width: 100%;
                text-align: center;
                font-size: 12px;
            }
            a {
                color: #fff;
                font-size: 14px;
                line-height: 30px;
                @include mq(tablet-portrait-up) {
                    font-size: 12px;
                }
            }
        }
    }
}
