.headerBox {
    width: 100%;
    height: 200px;
    margin-top: 128px;
    margin-bottom: 30px;

    @include mq(tablet-portrait-up) {
        height: 124px;
    }
    &-container {
        width: 100%;
        height: 100%;
        border-radius: 6px;
        background: #f7f9fa;
        position: relative;
    }
    &-inner {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        padding-left: 5%;
        h2 {
            font-size: 42px;
            font-weight: 600;
            color: #1a171b;
            width: 90%;
            z-index: 1;
            font-family: TT;
            @include mq(tablet-portrait-up) {
                font-size: 24px;
            }
        }
    }
    &-rect {
        width: 70%;
        height: 30%;
        border-radius: 6px;
        border: 1.04vw solid #fff;
        border-right: none;
        border-bottom: none;
        position: absolute;
        right: 0;
        bottom: 0;
        text-align: center;
        line-height: 54px;
        color: #000;
        font-size: 20px;
        font-weight: 600;
    }
}
.table {
    display: flex;
    margin: 0;
    width: 90%;
    margin: 0 auto 360px auto;
    .container {
        display: flex;
        width: 100%;
        height: auto;
        .sidebar-container {
            width: 200px;
            height: 100%;
            margin-right: 4.5%;

            @include mq(tablet-portrait-up) {
                display: none;
            }
        }
        .sidebar {
            position: sticky;
            top: 64px;
            background-color: #fff;
            &-item {
                padding: 20px 0;
                color: #bdc5c9;
                cursor: pointer;
                display: flex;
                &.active {
                    color: #000;
                    .icon {
                        img {
                            display: block;
                        }
                    }
                }
                .icon {
                    width: 20px;
                    height: 20px;
                    img {
                        width: 20px;
                        height: 20px;
                        display: none;
                    }
                }
                p {
                    width: 140px;
                    margin-left: 3px;
                    font-size: 20px;
                }
            }
        }
        .content {
            width: 100%;
            height: auto;
            .table-container {
                height: 100%;
                table {
                    width: 100%;
                    border-collapse: collapse;
                    border-top: 1px solid #eee;
                    .thead {
                        width: 100%;
                        position: sticky;
                        top: 62px;
                        padding: 24px 20px 24px 16px;
                        background-color: white;
                        z-index: 2;
                        font-size: 24px;
                        font-weight: 700;
                        font-family: TT;
                        tr {
                            border-top: 1px solid #eee;
                        }
                        td {
                            width: 33.333%;
                        }
                        @include mq(tablet-portrait-up) {
                            font-size: 16px;
                            line-height: 1.2;
                        }
                    }
                    th,
                    td {
                        text-align: left;
                        border-top: 1px solid #eee;
                        padding: 24px 20px 24px 16px;
                    }
                    tbody {
                        td {
                            font-size: 20px;
                            line-height: 1.5;
                            word-break: break-word;

                            @include mq(tablet-portrait-up) {
                                font-size: 12px;
                                line-height: 1.2;
                            }
                            .td-inner {
                                display: flex;
                                align-items: center;
                                img {
                                    width: 36px;
                                    height: 36px;
                                    margin-right: 10px;
                                    @include mq(tablet-portrait-up) {
                                        width: 30px;
                                        height: 30px;
                                        margin-right: 5px;
                                    }
                                }
                                .td-icon {
                                    width: 20px;
                                    height: 30px;
                                    font-size: 35px;
                                    line-height: 1.5;
                                    word-break: break-word;
                                    color: #1a171b;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    margin-right: 5px;
                                    font-family: TT, alibaba, AlibabaPuHuiTi-2-55-Regular;

                                    @include mq(tablet-portrait-up) {
                                        width: 12px;
                                        height: 18px;
                                        font-size: 20px;
                                    }
                                }
                                &__cont {
                                    display: flex;
                                    flex-direction: column;
                                    .td-desc {
                                        font-size: 16px;
                                        line-height: 1.5;

                                        @include mq(tablet-portrait-up) {
                                            font-size: 12px;
                                        }
                                    }
                                }
                                &.colspan2 {
                                    justify-content: center;
                                }
                            }
                        }
                    }
                    .table-section th {
                        position: sticky;
                        padding: 16px !important;
                        top: 139px;
                        z-index: 1;
                        font-size: 24px;
                        font-weight: 700;
                        font-family: TT;
                        background-color: #eee;
                        @include mq(tablet-portrait-up) {
                            font-size: 16px;
                            line-height: 1.2;
                            top: 130px;
                        }
                        @include mq(phone-only) {
                            top: 149px;
                        }
                    }
                    .dropdown-toggle {
                        cursor: pointer;
                    }
                }
                .dropdown-popup {
                    display: none;
                    position: absolute;
                    background-color: white;
                    border: 1px solid #ddd;
                    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
                    z-index: 10;
                    width: 90%;

                    ul {
                        list-style: none;
                        padding: 0;
                        margin: 0;

                        li {
                            display: flex;
                            align-items: center;
                            padding: 10px;
                            cursor: pointer;

                            &:hover {
                                background-color: #f0f0f0;
                            }
                            &.active {
                                color: #000;
                                .icon {
                                    img {
                                        display: block;
                                    }
                                }
                            }
                            .icon {
                                width: 20px;
                                height: 20px;
                                img {
                                    width: 20px;
                                    height: 20px;
                                    display: none;
                                }
                            }
                            p {
                                width: 100%;
                                margin-left: 3px;
                                font-size: 14px;
                            }
                        }
                    }
                }

                @include mq(tablet-portrait-up) {
                    .dropdown-popup {
                        display: none;
                    }
                }
            }
        }
    }
}
