* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

body {
  height: 600vh;
  background-color: #333;
  font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Segoe UI, Arial, Roboto, PingFang SC, miui, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}

.header {
  color: #333;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  background-color: #fff;
}
.header-container {
  width: 100%;
  min-height: 64px;
  display: flex;
  padding: 0 5%;
  justify-content: space-between;
  align-items: center;
}
.header-container__logo {
  width: 100px;
  height: 17px;
  cursor: pointer;
  position: relative;
  display: inline-block;
  overflow: hidden;
}
.header-container__logo img {
  width: 100%;
  height: 100%;
  vertical-align: top;
}
.header-container__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .header-container__cont {
    width: 80%;
    justify-content: flex-end;
  }
}
.header-container__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-container__menu-item {
  list-style: none;
  text-align: center;
  width: 110px;
}
.header-container__menu-item a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
}
.header-container__menu.activeMenu {
  top: 64px;
  animation: hamburgerMenu 0.9s ease-in;
  transition: 0.9s ease-in-out;
}
@media only screen and (max-width: 768px) {
  .header-container__menu {
    flex-direction: column;
    position: absolute;
    top: -500px;
    left: 0;
    transition: 0.6s ease-in-out;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 3px 5px #eee;
  }
  .header-container__menu-item {
    width: 100%;
    line-height: 64px;
  }
  .header-container__menu-item a {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    font-family: inherit;
    font-weight: 400;
  }
  @keyframes hamburgerMenu {
    from {
      opacity: 0.2;
    }
    to {
      top: 1;
    }
  }
}
.header-container__conf {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-family: inherit;
  padding: 0 20px;
  font-weight: 500;
}
@media only screen and (max-width: 768px) {
  .header-container__conf {
    padding: 0;
  }
}
.header-container__lang {
  position: relative;
  list-style: none;
  text-align: center;
  width: 110px;
}
.header-container__lang a {
  font-size: 14px;
  color: #000;
  text-decoration: none;
  font-family: inherit;
  font-weight: 500;
}
.header-container__lang a img {
  width: 14px;
  height: 14px;
  position: relative;
  top: 2px;
  margin-right: 5px;
}
@media only screen and (max-width: 768px) {
  .header-container__lang a {
    display: none;
  }
}
.header-container__lang-items {
  display: none;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  border-radius: 4px;
  padding: 10px 0;
  background-color: #fff;
}
.header-container__lang-items li {
  list-style: none;
  line-height: 34px;
  color: #000;
  padding: 0 20px;
  font-size: 14px;
  cursor: pointer;
}
.header-container__lang-items li:hover {
  background-color: #ecf5ff;
  color: #66b1ff;
}
@media only screen and (max-width: 768px) {
  .header-container__lang-items li:hover {
    background-color: unset;
    color: #000;
  }
}
.header-container__lang .activeLang {
  display: flex;
}
@media only screen and (max-width: 768px) {
  .header-container__lang {
    line-height: 64px;
  }
  .header-container__lang-items {
    display: flex;
    position: relative;
    top: unset;
    left: unset;
    transform: unset;
    width: 100%;
  }
  .header-container__lang-items li {
    font-size: 20px;
    color: #000;
    text-decoration: none;
    font-family: inherit;
    font-weight: 400;
    line-height: 64px;
  }
}
.header-container__hamburger {
  display: none;
  cursor: pointer;
}
.header-container__hamburger img {
  width: 24px;
  height: 24px;
}
@media only screen and (max-width: 768px) {
  .header-container__hamburger {
    display: flex;
    align-items: center;
  }
}

.hero {
  width: 100%;
  position: relative;
  top: 64px;
}
.hero-container {
  width: 100%;
  height: 100%;
  position: relative;
}
.hero__bg video {
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 1;
  width: 100%;
  height: 100%;
}
.hero__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  background-color: rgba(0, 0, 0, 0.2);
}
.hero__overlay-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__overlay-logo {
  width: 11.5vw;
  height: 2.2vw;
  min-width: 140px;
  min-height: 35px;
  margin-top: 8vw;
}
.hero__overlay-logo img {
  vertical-align: top;
  width: 100%;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .hero__overlay-logo {
    width: 140px;
    height: 35px;
  }
}
.hero__overlay-text {
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  color: #fff;
  margin: 0;
  padding: 2vw 0;
}
@media only screen and (max-width: 1200px) {
  .hero__overlay-text {
    font-size: 24px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__overlay-text {
    font-size: 16px;
  }
}
.hero__overlay-btn button {
  width: 9.6vw;
  height: 2.4vw;
  font-size: 16px;
  padding: 0;
  min-width: 140px;
  min-height: 36px;
  background: transparent;
  color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  cursor: pointer;
  transition: 0.1s;
}
.hero__overlay-btn button:hover {
  background-color: #6e1013 !important;
  border-color: #6e1013 !important;
  color: #fff !important;
  transition: 0.1s;
}
.hero .vjs-default-skin {
  display: none;
}/*# sourceMappingURL=style.css.map */